/*----------The non-class stuff that starts the page----------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*The main variable roots*/
:root {

    --sandy-brown: #F29E50;
    --chocolate: #7A3701;
    --crayola: #FFCF7B;
    --chocolate-web: #C86C1D;
    --black: #000000;
    --text-color: white;
}

body{
    background-color:var(--chocolate);
}

/*So that we don't change the color when link is pressed*/
a, a:visited {
    color:inherit;
    text-decoration: underline;
}

/*------------End of non-class stuff--------------*/

/*Main hero image at the beginning*/
.hero {
    height: 730px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/fire-0.png"); 
    background-size: cover;
    background-position: center;
}

/*Header things needed*/
.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color: var(--chocolate);
    color: var(--crayola);
    display:flex;
    align-items: baseline;
}

.header h1{
    display: inline-block;
}

.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    padding: 10px 0px 0 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

/*main content section*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.content h2 {
    font-size: 55px;
    color: var(--black);
    text-shadow:2px 2px var(--sandy-brown);
    border-right: 8px solid;
    border-color: var(--chocolate-web);
    padding: 10px 10px 60px 20px;

    margin-left: 0px;
    margin-bottom: 35px;
}

/*The ABOUT ME stuff---------------------------*/

/*flexbox the design for the header and stuff*/
.about_me {
    background-color: var(--chocolate);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}

.about_me h2{
    margin-left: 0px;
    text-align: right;
    margin-bottom: 35px; 
    margin-top: 40px;
}

.about_me h2 img{
    width: 205px;
    padding: 40px 20px 20px 20px; 
}

.about_me p{
    font-size: 20px;
    padding: 10px 50px 60px 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 80%;
    margin: 0 auto;
}

/*Use flexbox for oganizing the personal content*/
.personal_work{
    background-color: var(--chocolate);
    display: flex;
    flex-direction: row;
}

.personal_work h2{
    text-align: right;
}

.work_container{
    /* create flexbox */
    display: flex;
    /* instruct it to break onto next line if it runs out of space */
    flex-wrap: wrap;
    /* put all unused space between items */
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 20px 20px;
}


.the_work {
    /* make each one 45%, putting 10% between each element on the page */
    width: 45%;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid var(--sandy-brown);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    box-shadow: 0 3000px rgba(122, 85, 4, 0.281) inset; 


    /* tell background to fit box no matter what */
    background-size: cover;
    /* crop it at the center */
    background-position: center;
    /* padding top and bottom 20px, 0 for left/right */
    padding: 20px 0;
    /* set minimum heigh value so there's room */
    min-height: 250px;

    /* rather than use position...use flexbox and create column instead of row */
    display: flex;
    flex-direction: column;

}

/*All the backgrounds for flexbox needs*/
.the_work:nth-child(1) {
    min-height: 500px;
    min-width: 900px;
    background-image: url(images/maya_animation.jpeg);
}

.the_work:nth-child(2) {
    background-image: url(images/run_buddy.png);
}

.the_work:nth-child(3) {
    background-image: url(images/coming_out.png);
}

.the_work:nth-child(4) {
    background-image: url(images/sudoku.png);
}

.the_work:nth-child(5) {
    background-image: url(images/blackjack-hand.jpg);
}

/*When hovering over flexbox work, the color changes*/
.the_work:hover{
    box-shadow: 0 3000px rgba(255, 255, 255, 0) inset;
}

/* for text area inside of flex item */
.the_work span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: var(--sandy-brown);
    color: var(--black);
    padding: 10px 5px;
    text-align: center;
  }


/*CONTACT ME section of stuff*/
.contact_me{
    display:flex;
}

.contacts{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: var(--crayola);
    display: flex;
    flex-direction: row;
}

.contact_me h2{
    color: var(--black);
    margin-left: 0px;
    text-shadow:2px 2px var(--chocolate-web);
    font-size: 55px;
    text-align: center;
    margin-bottom: 35px;
    padding: 10px 10px 60px 20px;
    border-right: 8px solid;
    border-color: var(--chocolate-web); 
}

.contacts ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.contacts ul li {
    display: inline-block;
    margin-left: 25px;
}

footer{
    margin-left: 10px;
    color: var(--crayola);
}