/*----------The non-class stuff that starts the page----------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*The main variable roots*/
:root {
    --sandy-brown: #F29E50;
    --chocolate: #7A3701;
    --crayola: #FFCF7B;
    --chocolate-web: #C86C1D;
    --black: #000000;
    --text-color: white;
}

body{
    background-color:var(--chocolate);
}

/*So that we don't change the color when link is pressed*/
a, a:visited {
    color:inherit;
    text-decoration: underline;
}

/*------------End of non-class stuff--------------*/

/*Main hero image at the beginning*/
.hero {
    background-image: url("images/fire-0.png"); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}

/*Header things needed*/
.header {
    padding: 20px 35px;
    background-color: var(--chocolate);
    color: var(--crayola);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1{
    font-size: 45px;
    text-shadow: 4px 4px var(--black);
    margin: 0;
}


.header nav{
    margin: 7px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    text-shadow: 2px 2px black;
    font-weight: bolder;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
}

/*-----main content section-----*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top:20px;
}

/*Create a flexbox for the content on one side to evenly have the headers*/
.content h2 {
    font-size: 55px;
    color: var(--black);
    text-shadow:2px 2px var(--sandy-brown);
    border-right: 8px solid;
    border-color: var(--chocolate-web);
    padding: 10px 10px 60px 20px;
    text-align: right;

    margin-left: 0px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;

}

/*only the content*/
.about_me p, .work_container, .contacts{
    display: flex;
    flex-direction: row;
    /* put all unused space between items */
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

/*The ABOUT ME stuff---------------------------*/

/*flexbox the design for the header and stuff*/
.about_me {
    margin-left: 33px;
    display: flex;
    flex-direction: row;
}

.about_me h2{
    width:205px;
}

.about_me h2 img{
    margin-top: 20px;
}

.about_me p{
    font-size: 20px;
    padding: 40px 50px 60px 60px;
    width: 80%;
    text-align: center;
    
}

/*Use flexbox for oganizing the personal content*/
.personal_work{
    display: flex;
    flex-direction: row;
}

.work_container{
    /* create flexbox */
    display: flex;
    /* instruct it to break onto next line if it runs out of space */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.the_work {
    /* make each one 45%, putting 10% between each element on the page */
    min-width: 45%;
    /* rounded corners */
    border-radius: 6px;
    border: 4px solid var(--sandy-brown);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    box-shadow: 0 3000px rgba(122, 85, 4, 0.322) inset; 
    /* tell background to fit box no matter what */
    background-size: cover;
    /* crop it at the center */
    background-position: center;
    /* padding top and bottom 20px, 0 for left/right */
    padding: 20px 0;
    /* set minimum heigh value so there's room */
    min-height: 250px;
    
    /* rather than use position...use flexbox and create column instead of row */
    display: flex;
    flex-direction: row;

} 

/*All the backgrounds for flexbox needs*/
.the_work:nth-child(1) {
    min-height: 500px;
    width: 100%;
    background-image: url(images/maya_animation.jpeg);
}
.the_work:nth-child(2) {
    background-image: url(images/run_buddy.png);
}
.the_work:nth-child(3) {
    background-image: url(images/coming_out.png);
}
.the_work:nth-child(4) {
    background-image: url(images/sudoku.png);
}
.the_work:nth-child(5) {
    background-image: url(images/blackjack-hand.jpg);
}

/*When hovering over flexbox work, the color changes*/
.the_work:hover{
    box-shadow: 0 3000px rgba(255, 255, 255, 0) inset;
}

/* for text area inside of flex item */
.the_work span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: var(--sandy-brown);
    color: var(--black);
    padding: 10px 5px;
    text-align: center;
}


/*CONTACT ME section of stuff*/
.contact_me{
    display:flex;
    align-items: baseline;
    flex-direction: row;
}

.contact_me h2{
    
}

.contacts{
    padding-top: 70px;
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: var(--black);
    display: flex;
    flex-direction: row;
}

.contacts ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.contacts ul li {
    display: inline-block;
    margin-left: 25px;
}

footer{
    margin-left: 10px;
    color: var(--crayola);
}

/*---media query---*/

@media screen and (max-width: 980px){

    .personal_work h2{
        margin-left: 37px;
    }

    .header{
        padding-bottom: 0;
        justify-content: center;
    }

    .header h1{
        width: 100%;
        text-align: center;
    }

    .header nav ul{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        font-size: 18px;
    }

    .work_container{
        flex: 0 100%
    }
}

@media screen and (max-width: 768px){
    section{
        padding: 30px 15px;
    }

    .content h2 {
        font-size: 55px;
        border-bottom: 8px solid;
        border-color: var(--chocolate-web);
        border-right: none;
        padding: 60px 10px 20px 10px;
        text-align: center;
        margin: 0 auto 35px auto;
        width: 50%;

    }

    .about_me, .personal_work, .contact_me{
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 575px){
    .hero{
        height:400px;
    }

    .contacts ul li{
        margin-right: 30px;
    }
}
